In [2]:
import psycopg2
import pandas as pd

In [4]:
# Verbindungszeichenfolge erstellen
conn = psycopg2.connect(
    host="localhost",
    database="coffee_db",
    user="postgres",
    password="placeholder"
)

In [10]:
sql_query = "SELECT * FROM customer_login WHERE customer_login.customer_id='"+"1"+"' AND customer_login.customer_password='" + "123" + "'"
login_data = pd.read_sql_query(sql_query, conn)

In [11]:
login_data

   customer_id customer_password
0            1               123

In [3]:
sql= "SELECT * FROM coffee_shops;"
df = pd.read_sql_query(sql, conn)
conn.close()

C:\Users\a829727\AppData\Local\Temp\ipykernel_7968\1897384834.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql, conn)

In [4]:
df

,shop_id,name,city,adress,owner_firstname,owner_lastname
0,1,The Daily Grind,New York,1 Main St,John,Doe
1,2,Espresso Yourself,San Francisco,2 Main St,John,Doe
2,3,Brew-tique,Paris,3 Main St,John,Doe
3,4,The Bean Scene,London,4 Main St,John,Doe
4,5,Cuppa Joe's,Tokyo,5 Main St,John,Doe

In [5]:
html_df=df.to_html()

In [6]:
html_df

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>shop_id</th>\n      <th>name</th>\n      <th>city</th>\n      <th>adress</th>\n      <th>owner_firstname</th>\n      <th>owner_lastname</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>The Daily Grind</td>\n      <td>New York</td>\n      <td>1 Main St</td>\n      <td>John</td>\n      <td>Doe</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>Espresso Yourself</td>\n      <td>San Francisco</td>\n      <td>2 Main St</td>\n      <td>John</td>\n      <td>Doe</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>3</td>\n      <td>Brew-tique</td>\n      <td>Paris</td>\n      <td>3 Main St</td>\n      <td>John</td>\n      <td>Doe</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>4</td>\n      <td>The Bean Scene</td>\n      <td>London</td>\n      <td>4 Main St</td>\n      <td>John</td>\n      <td>Doe</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>5</td>\n      <td>Cuppa Joe\'s</td>\n      <td>Tokyo</td>\n      <td>5 Main St</td>\n      <td>John</td>\n      <td>Doe</td>\n    </tr>\n  </tbody>\n</table>'

In [7]:
"""# Cursor erstellen
cur = conn.cursor()

# Abfrage ausführen
cur.execute("SELECT * FROM coffee_shops;")
"""

'# Cursor erstellen\ncur = conn.cursor()\n\n# Abfrage ausführen\ncur.execute("SELECT * FROM coffee_shops;")\n'

In [8]:
"""# Ergebnisse abrufen
rows = cur.fetchall()

# Ergebnisse ausgeben
for row in rows:
    print(row)"""

'# Ergebnisse abrufen\nrows = cur.fetchall()\n\n# Ergebnisse ausgeben\nfor row in rows:\n    print(row)'

In [9]:
"""# Cursor und Verbindung schließen
cur.close()
conn.close()"""

'# Cursor und Verbindung schließen\ncur.close()\nconn.close()'

In [10]:
conn = psycopg2.connect(
    host="localhost",
    database="coffee_db",
    user="postgres",
    password="x5Tg9%eZu1!")

cursor = conn.cursor()


#sql_query = "INSERT INTO customer_login (customer_id, customer_password) VALUES (" + str(5) + "," + str(6) + ")"
sql_query = "begin; insert into customers (customer_id, customer_firstname, customer_lastname) values (" + "20" + "," + "Heinz" + "," + "Müller" + "); insert into customer_login (customer_id, customer_password) values (" + "20" + "," + "test" + ") commit;"
cursor.execute(sql_query)

In [11]:
customer_data = pd.read_sql_query(sql_query, conn)
conn.commit()
conn.close()

In [12]:
customer_data

   customer_id customer_firstname customer_lastname
0            1             erster              test